html, body {
	font-family: Calibri, arial, sans-serif;
	height: 100%;
	min-height: 100%;
	width: 100%;
}

a {
	color: #394959;
	outline: none;
	text-decoration:none;
}

	a:hover{
		color: #666666;
		text-decoration: underline;
	}

input[type="text"], input[type="password"], select, textarea {
	background-color: #FFFFFF;
	border: 1px solid #B7B7B7;
	color: #666666;
    padding: 5px 0 5px 5px;
	width: 300px;
	
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

	input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
		border: 1px solid #71869B;
		color: #666666;
	}

select {
	width: 307px;
}	
	
input[type="submit"] {
	background: url(../images/buttonbg.png) top;
	border: 1px solid #181818;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 11pt;
	font-weight: bold;
	height: 34px;
	opacity: 1;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0px #000000;
}

	input[type="submit"]:active {
		background-position: bottom;
	}
	
	input[type="submit"]:hover {
		opacity: .95;
	}

strong {
	font-weight: bold;
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

::-moz-selection {
	background-color: #86B8E7;
	color: #FFFFFF;
}

::selection {
	background-color: #86B8E7;
	color: #FFFFFF;
}

.no_select {
	user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.red {
	color: red;
}

.green {
	color: green;
}

.clear {
	clear: both;
}