#container {
	background-color: #FFFFFF;
	height: auto;
	min-height: 100%;
	min-width: 750px;
	position: relative; /* Needed for footer positioning*/
	width: 100%;
}

#header {
	background-color: #7D93B3;
	border: 0px solid #181818;
	border-width: 10px 0 2px 0;
	position: relative;
	height: 105px;
	width: 100%;
	z-index: 1;
}
	
	#header .logo {
		float: left;
		margin: 14px 0 0 14px;
	}
			
#breadcrumbs {
	background: url("../images/breadcrumbbg.png") top left repeat-x;
	border-bottom: 2px solid #070708;
	clear: both;
	height: 30px;
	position: relative;
	width: 100%;
	z-index: 1;
}

	#breadcrumbs ul {
		list-style: none;
	}

		#breadcrumbs ul li {
			background: url("../images/breadcrumbbg.png") bottom left repeat-x;
			height: 30px;
			float: left;
		}
		
			#breadcrumbs  ul li.home {
				background: none;
			}
		
			#breadcrumbs ul li:last-child {
				background: none;
			}
		
			#breadcrumbs a, #breadcrumbs p {
				background: url("../images/breadcrumbarrow.png") top left no-repeat;
				color: #FFFFFF;
				display: block;
				font-size: 12pt;
				height: 30px;
				padding: 6px 10px 0px 25px;
				text-shadow: 0 0 0 transparent, 0px 1px 3px rgba(0,0,0,.8); /* 0 0 0 transparent is a chrome hack so it doesnt look aliased http://code.google.com/p/chromium/issues/detail?id=23440 */
			}
			
				#breadcrumbs a.home {
					background: none;
					padding: 2px 0 0 5px;
				}

				#breadcrumbs a:hover {
					text-decoration: underline;
				}

#content {
	padding: 15px 15px 40px 15px;
}

	#content > h1 {
		color: #394959;
		font-family: 'AllerRegular', "Times New Roman", Times, serif;
		font-size: 17pt;
		font-weight: bold;
		margin: 0 0 10px 0;
	}

	#content > h2 {
		color: #394959;
		font-family: 'AllerRegular', "Times New Roman", Times, serif;
		font-size: 15pt;
		font-weight: bold;
		margin: 0 0 8px 8px;
	}

	#content > h3 {
		color: #394959;
		font-family: 'AllerRegular', "Times New Roman", Times, serif;
		font-size: 12pt;
		font-weight: bold;
		margin: 4px 0 4px 8px;
	}
	
	#content > ul {
		margin: 4px 0 8px 15px;
	}
	
	#content table {
		margin: 0 auto;
		width: 50%;
	}
	
	#content th {
		color: #394959;
		font-family: 'AllerRegular', "Times New Roman", Times, serif;
		font-size: 12pt;
		font-weight: bold;
		padding: 0 0 4px 0;
	}
	
	#content td {
		text-align: center;
	}

#footer {
	background-color: #7D93B3;
	border-top: 2px solid #181818;
	bottom: 0;
	height: 20px;
	position: absolute;
	width: 100%;
}